@media (max-width: 1049px) {
        .tbilisi-img {
            max-width: 100%;
            height: auto;
        }
}
@media (max-width: 1000px){
        .img1{
            margin-top: 600px;
            }
 }

 @media (max-width: 850px){
        .img1 {
            margin-top: 500px;
        }
    }
 

 @media(max-width: 750px){
     .img1 {
         margin-top: 450px;
     }
 }

 @media (max-width: 400px){
     .img1{
         margin-top: 250px;
     }
 }

    


@media (max-width: 1039px){
    .div-head {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 1250px){
    .img1 {
        margin-left: 0px;
        max-width: 100%;
        height: auto;
        
    }
}

@media (max-width: 100%){
    .cities-div {
        max-width: 1000px;
        height: auto;
    }
}
 