/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
 /* Burger icon styles */
.toggle-menu {
    color: #ffffff;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  padding: 2px 2px 2px 3px;
    cursor: pointer;
}
.line {
    width: 100%;
    height: 3px;
    background-color: #000000;
    transition: transform 0.2s ease-out;
}
.toggle .line1 {
    transform: scale(0.9) rotate(-45deg) translate(-6px, 4px);
}
.toggle .line2 {
    display: none;
}
.toggle .line3 {
    transform: scale(0.9) rotate(45deg) translate(-6px, -4px);
}

.tbilisi-img {
    width: 100%;
    height: auto; 
   position: absolute;
 
}
.nav-bar {
    z-index: 9999;
    position: absolute;
    background-color: #122;
    top: 0;
    right: 100%;
    height: 100vh;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.toggle {
    left: 0;
}
/* listebis gastilva */
.nav-list-item {
    text-align: center;
    padding: 10px 0;
}

.nav-link {
    color: #fff;
    font-size: 22px;
}

.geo {
    font-size: 30px;
    color: red;
}

.tbilisi-title {
    font-size: 90px;
}
.cog {
    font-size: 20px;
}

.flag {
    z-index: 90;
    max-width: 60px;
    margin-left: 100px;
} 
.menu-bar {
    position: absolute;
    z-index: 910;
    width: 100%;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    /* justify-content: space-around; */
    
}
/* 
.burger {
    max-width: 50px;
    margin-left: 200px;
    margin-left: 800px;
    background-color: black;
} */
.title-div {
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 0px;
    ;
}
.em{
    background-color: orange;
}

.GS {
    font-size: x-large;
    padding-bottom: 10px;
}



.title {
    font-size: 10px;
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 30px;
    padding-left: 18px;
    word-spacing: 2px;


}
.geo-title {
    margin-left: 50px;
    color: #FFFFFF;
    width: 100px;

}
.geo-title::first-line{
    font-size: 40px;
}


.img1 {
    max-width: 1176px;
    height: auto;
    margin-top: 719px;
    margin-left: 103px;
    opacity: 0.9;
}
.info-div {
    margin-left: 103px;
    margin-top: 71px;
    background-color: #F7F7F7;

}
.aoc, .id-t {
    padding-bottom: 9px;
    letter-spacing: 2px;
    color: #CC9B55;
    font-family: Poppins;
    font-size: 10px;

}

.title-info {
    font-size: 25px;
    padding-bottom: 39px;
    font-family: Poppins;
}

.lorem-info{
    font-size: 14px;
    color: #7A797E;
    line-height: 20px;
}

.cities-div {
    margin-top: 21px;
    margin-left: 101px;
    background-color: #F7F7F7;
    max-width: 1200;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.city-section {
    max-width: 1584px;
}

.city {
    background-color: #ffffff;
    max-width: 580px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.lorem-p {
    line-height: 20px;
    font-size: 15px;
    color: #b0b0b0;
}


.city-img {
    max-width: 200px;
    height: auto;
}

#img4, #img3, #img1, #img2{
    padding-top: 25px;
    padding-right: 25px;
    
}
/* 
.lorem-title {
    padding-top: 40px;
    padding-left: 40px;
    font-size: 26px;
}

.lorem-p{
    padding-left: 40px;
    padding-top: 10px;
}
 */

 .lp::first-line{
     font-size: 26px;
 }
 
.lp {
    padding-left: 40px;

}

.view-more {
    width: 200px;
    height: 50px;
    background-color: #CC9B55;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    color: #FFFFFF;
}

.info-div2 {
   max-width:  1176px;
    height: auto;
    margin-top: 400px;
    margin-left: 103px;
  
}

.id-t, .id-p {
    padding-left: 840px;
}

.id-p {
    font-size: 30px;
}

.div1{
    margin-left: 101px;
}

.div-img1{
    width: 600px;
    height: 150px;
    
}

.div-img2 {
    width: 500px;
    height: 150px;
    padding-left: 25px;
}
.div-img3 {
    padding-top: 25px;
    width: 500px;
    height: 200px;
}
.div-img4 {
    padding: 25px 25px;
    width: 600px;
    height: 200px;
}



button {
    overflow: visible;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, input, select, textarea {
    color: #5A5A5A;
    font: inherit;
    margin: 0;
  }
  
  input {
    line-height: normal;
  }
  
  textarea {
    overflow: auto;
  }
  
  #container {
    border: solid 3px #474544;
    max-width: 768px;
    margin: 60px auto;
    position: relative;
  }
  
  form {
    padding: 37.5px;
    margin: 50px 0;
  }
  
  h1 {
    color: #474544;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .underline {
    border-bottom: solid 2px #474544;
    margin: -0.512em auto;
    width: 80px;
  }
  
  .icon_wrapper {
    margin: 50px auto 0;
    width: 100%;
  }
  
  .icon {
    display: block;
    fill: #474544;
    height: 50px;
    margin: 0 auto;
    width: 50px;
  }
  
  .email {
      float: right;
      width: 45%;
  }
  
  input[type='text'], [type='email'], select, textarea {
      background: none;
    border: none;
      border-bottom: solid 2px #474544;
      color: #474544;
      font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
      margin: 0em 0 1.875em 0;
      padding: 0 0 0.875em 0;
    text-transform: uppercase;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  input[type='text']:focus, [type='email']:focus, textarea:focus {
      outline: none;
      padding: 0 0 0.875em 0;
  }
  
  .message {
      float: none;
  }
  
  .name {
      float: left;
      width: 45%;
  }
  
  select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  .subject {
    width: 100%;
  }
  
  .telephone {
    width: 100%;
  }
  
  textarea {
      line-height: 150%;
      height: 150px;
      resize: none;
    width: 100%;
  }
  
  ::-webkit-input-placeholder {
      color: #474544;
  }
  
  :-moz-placeholder { 
      color: #474544;
      opacity: 1;
  }
  
  ::-moz-placeholder {
      color: #474544;
      opacity: 1;
  }
  
  :-ms-input-placeholder {
      color: #474544;
  }
  
  #form_button {
    background: none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  #form_button:hover {
    background: #474544;
    color: #F2F3EB;
  }
  
  @media screen and (max-width: 768px) {
    #container {
      margin: 20px auto;
      width: 95%;
    }
  }
  
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 26px;
    }
    
    .underline {
      width: 68px;
    }
    
    #form_button {
      padding: 15px 25px;
    }
  }
  
  @media screen and (max-width: 420px) {
    h1 {
      font-size: 18px;
    }
    
    .icon {
      height: 35px;
      width: 35px;
    }
    
    .underline {
      width: 53px;
    }
    
    input[type='text'], [type='email'], select, textarea {
      font-size: 0.875em;
    }
  }
